.languages {
    display: flex;
}
.languages img:nth-child(1) {
    margin: 0px 1rem 0px 0px !important;
}
.languages img:nth-child(3) {
    margin: 0px 0px 0px 1rem !important;
}

.languages img {
    max-width: 9em;
}
.stylo-font {
    margin-top: 0.6rem;
}
